fastapi==0.124.4
uvicorn==0.38.0
python-multipart==0.0.20
python-dotenv==1.2.1
chromadb==0.5.23
pypdf==6.4.1
sentence-transformers==5.2.0
aiofiles==24.1.0
langchain
langchain-groq
langchain-huggingface
langchain-chroma
langchain-community
langchain-experimental